<button
    class="layout-config-button p-link"
    type="button"
    (click)="onConfigButtonClick()"
    style="height: 4.5rem !important; padding-top: 0.5rem"
>
    <i class="pi pi-bell text-3xl" pBadge [value]="nbNotifications"></i>
</button>

<p-sidebar
    [(visible)]="visible"
    position="right"
    [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'"
    styleClass="layout-config-sidebar w-20rem"
>



    <div
        role="complementary"
        class="ng-trigger ng-trigger-panelState ng-tns-c2903228607-0 layout-profile-sidebar w-full sm:w-25rem p-sidebar p-sidebar-active p-sidebar-right ng-star-inserted"
        data-pc-name="sidebar"
        data-pc-section="root"
        aria-modal="true"
        style="z-index: 1102"
    >
        <div
            class="p-sidebar-header ng-tns-c2903228607-0 ng-star-inserted"
            data-pc-section="header"
        >

        </div>
        <div
            class="p-sidebar-content ng-tns-c2903228607-0 ng-star-inserted"
            data-pc-section="content"
        >
        <div class="flex flex-column mt-5 mx-auto md:mx-0 ng-tns-c2903228607-0">
            <span class="mb-2 font-semibold">Notifications</span>
            <span class="text-color-secondary font-medium mb-5">Vous avez {{nbNotifications}} notifications</span>
            <ng-container *ngIf="nbNotifications > 0">
                <ul class="list-none m-0 p-0" *ngFor="let notification of notifications">
                    <li>
                        <a class="cursor-pointer flex surface-border mb-3 p-3 align-items-center border-1 surface-border border-round hover:surface-hover transition-colors transition-duration-150">
                            <span><i class="pi pi-comment text-xl text-primary"></i></span>
                            <div class="ml-3">
                                <span class="mb-2 font-semibold">{{notification.sensor_reference}}</span>
                                <p class="text-color-secondary m-0">Batterie : {{notification.batteryPercent}}</p>
                                <p class="text-color-secondary m-0">{{notification.created_at}}</p>
                                <p class="text-color-secondary m-0">emis à {{notification.created_at}}</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </ng-container>
            <ng-container *ngIf="nbNotifications == 0">
                <ul class="list-none m-0 p-0">
                    <li>
                        <a class="cursor-pointer flex surface-border mb-3 p-3 align-items-center border-1 surface-border border-round hover:surface-hover transition-colors transition-duration-150">
                            <span><i class="pi pi-comment text-xl text-primary"></i></span>
                            <div class="ml-3">
                                <span class="mb-2 font-semibold">Pas de notifications</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </ng-container>
        </div>
        </div>
    </div>
</p-sidebar>
