
<p-toast></p-toast>
<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/work/dashboard">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'lightoil' : 'lightoil'}}.svg" alt="logo">
        <span pTooltip="Retour au Dashboard"
            tooltipPosition="bottom">
            Tracking
        </span>
    </a>

    <button #menubutton pTooltip="Menu"
            tooltipPosition="bottom"
            class="p-link layout-menu-button layout-topbar-button"
            (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <p pTooltip="Poste"
        tooltipPosition="bottom"
        class="w-50 text-center fs-3 mt-2">
        {{role}}
    </p>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <p-button [styleClass]="'p-link layout-topbar-button'"
                pTooltip="{{user.name}}"
                tooltipPosition="bottom"
                (onClick)="goToUserSetting()">
            <i class="pi pi-user"></i>
            <span>Profil</span>
        </p-button>
        <p-button [styleClass]="'p-link layout-topbar-button'"
            class="p-link layout-topbar-button"
            pTooltip="Parametres"
            tooltipPosition="bottom"
            (onClick)="goToAppSetting()">
            <i class="pi pi-cog"></i>
            <span>Parametres</span>
        </p-button>
        <p-button [styleClass]="'p-link layout-topbar-button'"
                [loading]="loading"
                pTooltip="Deconnexion"
                tooltipPosition="bottom"
                (onClick)="logout()">
            <i class="pi pi-sign-out"></i>
            <span>Deconnexion</span>
        </p-button>
    </div>
</div>

<p-confirmDialog
    [acceptLabel]="'Oui'"
    [rejectLabel]="'Non'"
    [style]="{ width: '450px' }" />
