<ul class="layout-menu">
    <ng-container *ngFor="let item of model; let i = index;">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>
    <li>
        <a href="https://www.primefaces.org/primeblocks-ng/#/">
            <img width="20%" style="margin-left: 35%; margin-top: 20%;" src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'Capture2' : 'Capture'}}.PNG" alt="Light Group Logo"/>
        </a>

    </li>
</ul>


